@import url('https://fonts.googleapis.com/css2?family=Nova+Flat&family=Poppins:ital,wght@1,600&display=swap');

.App {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.top_bar {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 12% !important;
  vertical-align: middle !important;
  display: flex;  
  flex-direction: row;
  justify-content: space-evenly !important;
  border-bottom: 10px solid rgb(225, 255, 0);
}

.entry_area {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.label {
  font-size: large;
  padding-left: 1rem;
  padding-right: 0.5rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.entry {
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 20px;
  vertical-align:middle;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  border: 2px solid rgb(0, 0, 0) !important;
  border-radius: 6px;
}

.button_submit {
  background-color: rgba(255, 255, 255, 0.382) !important;
  height: 50%;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  margin-top: 1.45% !important;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center !important;
  vertical-align: middle !important;
  margin-top: 5% !important;
  width: 97%;
  height: 100% !important;
}

.prediction_container {
  height: 100%;
  width: 350px;
}

.prediction_area {
  width: 100% !important;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.prediction {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.body{
  background-color: black;
}

.clrtxt{
  color: black;
}
.topNavbar{
  display: flex;
  background-color: black;
align-items: center;
  color: white;
  gap: 30px;
}
.logo{
  width: 126px;
height: 135px;
margin-left:30px;
margin-top: 27px;
}

.logoname{
height: 42px;
font-weight: 400;
font-size: 36px;
line-height: 43px;
}

.line{

height: 0px;

border: 1px solid #FFFFFF;
transform: rotate(0.08deg);
}

.box{
  position: absolute;
width: 305px;
height: 500px;
right: 46.5px;
top: 206.5px;
display: flex;

flex-direction: column;
background: #BEFF04;
border-radius: 50px;

}
.innerbox{
  margin-top: 45px;
  margin-left: 50px;
}
.btn{
  
width: 169px;
height: 43px;
background-color: black;
border-radius: 50px;
color: white;
font-family: 'Nova Flat';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 39px;
display: flex;
justify-content: center;
align-items: center;
margin-left: 30px;
margin-top: -41px;
}
.btnp{
  margin-top: 23px;
  margin-left: 47px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: 'Nova Flat';
  font-style: normal;
  
}
.inputfield{
  box-sizing: border-box;

width: 219px;
height: 60px;


border: 1px solid #000000;
background-color: transparent;
}

.chart-bg{
  background-color: white;
  width: 1120px;
  height: 420px;
  margin-top: 50px;
  margin-left: 30px;
  padding-top: 30px;
}
.graph_cc{


  width: 1100px;
  height: 100vh;
display: flex;
justify-content: center;
flex-direction: column;
background-color: white;

}
.h_container{
  display: flex;
  justify-content: center;



}
.hitxt{
position: absolute;
right : 60px;
font-weight: 400;
font-size: 36px;
line-height: 43px;
}